MONGODB_URI=mongodb+srv://giggioMilan:<JhkLtbfVz5TvcrBB>@cluster0-members-book.hf7vy19.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0-Members-book
SECRET_KEY=f7e2f23be9801fbce637d40e4adf842f0fe8202607e76a2a79ecc71b58c8ef72
JWT_SECRET_KEY=49e1259bd8b65a5eb63a8d38055b454fd01ba39dd69a1b0e6fb52ee1057f3092
OPENAI_KEY= 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